@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --primary-color:#000;
    --gray-color:#848484;
    --dark-gray:#2d2c2c;
    --light-blue:rgb(138, 185, 205);
    --dark-blue:rgb(112, 182, 211);
}