@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --primary-color:#000;
    --gray-color:#727171;
    --light-color:rgba(238, 170, 170, 0.279);
    --dark-gray:#918e8e;
    --light-button:#f6c8c8dc;
    --light-container:#ecc3c39c;
    --dark-link:#ed8585;
}


.links-up{
   @apply hover:-translate-y-1 transition-all duration-300 ease-out
}

body{
    font-family: "League Spartan", sans-serif;
}


.button-reverse{
    position: relative;
    overflow: hidden;
  }

  
.button-reverse:hover::before,
.button-reverse:hover::after {
      transform: translateX(0);
      background-color: white;
}
  

.button-reverse::before,
.button-reverse::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: transform 0.6s ease-out;
    }
  
.button-reverse::before {
      transform: translateX(100%);
}
  
.button-reverse::after {
      transform: translateX(-100%);
}
  
  